body {
  min-height: 100vh; //incase dvh is not supported
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main-contents {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 4.5rem;

  padding: 5.5rem 1.5rem 3rem;

  max-width: 35rem;
  margin: auto;

  @media only screen and (min-width: $bp-small-x) {
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
  }
}

.footer {
  margin-top: auto;
}
